html {
    background: url("https://live.staticflickr.com/16/21499884_a920dc84ce_z.jpg") no-repeat center fixed;
    background-size: cover;
}

#total {
  width: 100%;
  text-align: center;
  font-size: 25px;
  position: relative;
  top: 80px;
  font-weight: bolder;
}

#head {
  color: #e3f7ff;
  position: absolute;
  left: 170px;
  font-size: 72px;
  top: -20px;
  opacity: 0.85;
}

#userDiv {
  background-color: #006994;
  width: 600px;
  height: 680px;
  border-radius: 40px;
  position: absolute;
  top: 20px;
  opacity: 0.90;
}

#fname {
  position: relative;
  top: 15px;
  left: 40px;
  height: 25px;
}

#activity {
  position: relative;
  top: 15px;
  left: 40px;
  height: 25px;
}

#distance {
  position: relative;
  top: 15px;
  left: 40px;
  height: 25px;
}

#submission {
  border: solid;
  border-color: #e3f7ff;
  border-width: 5px;
  height: 100px;
  width: 500px;
  position: absolute;
  left: 50px;
  top: 200px;
  border-radius: 40px;
}

#submit {
  position: relative;
  top: 10px;
  left: 200px;
  border: solid;
  border-width: 1px;
  border-radius: 20px;
  height: 40px;
  width: 80px;
  background-color: green;
  opacity: 0.85;
}

#submit:hover {
  opacity: 2.0;
}

#list {
  position: relative;
  top: 230px;
  left: 105px;
  width: 350px;
  height: 320px;
  overflow-y: scroll;
}

#vertSub {
  position: absolute;
  width: 50px;
  height: 200px;
  left: 55px;
  top: 340px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

#logoOne {
  position: absolute;
  left: 30px;
  top: 10px;
  border-radius: 20px;
  background-color: white;
  width: 110px;
  height: 120px;
  overflow: hidden;
  border: solid;
  border-width: 2px;
}

#logoTwo {
  position: absolute;
  right: 30px;
  top: 10px;
  border-radius: 20px;
  background-color: white;
  width: 110px;
  height: 120px;
  overflow: hidden;
  border: solid;
  border-width: 2px;
}

#logoOnePic {
  position: relative;
  left: -40px;
  top: -25px;
  width: 150%;
  height: 180%;
}

#logoTwoPic {
  position: relative;
  left: -40px;
  top: -25px;
  width: 150%;
  height: 180%;
}

#bib {
  position: absolute;
  top: 297px;
  width: 600;
  text-align: center;
}

#email {
  position: absolute;
  top: 315px;
  width: 600;
  text-align: center;
}

#vertLog {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 515px;
  top: 440px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

progress {
  width: 400px;
  height: 30px;
  display: hidden;
  background: #006994;
  text-align: center;
  position: relative;
  top: 70px;
  left: 100px;
}

label {
  position: absolute;
  top: 154px;
  left: 110px;
  z-index: 5;
}

progress {
  color: linear-gradient(to right, blue, green);
}

/* progress::-webkit-progress-value {
  background: lightblue;
  border-radius: 15px;
  width: 400px;
  height: 30px;
}

progress::-moz-progress-bar {
  background: lightcolor;
  border-radius: 15px;
  width: 400px;
  height: 30px;
} */

progress::-webkit-progress-value {
  background: linear-gradient(to right, blue, green);
  border-radius: 15px;
  width: 400px;
  height: 30px;
  border: solid;
  border-width: 2px;
  border-color: linear-gradient(to right, blue, green);
}

progress::-webkit-progress-bar {
  /* background: grey; */
  border-radius: 15px;
  width: 400px;
  height: 30px;
}
